@import "ember-bootstrap/bootstrap";
@import "pod-styles"; // for ember-component-css
@import 'welcome';
@import 'brackets/new';
@import 'components/contender-editor';

.main-container {
  margin-top: 4rem;
}

.navbar {
  box-shadow: 0 4px 3px -3px grey;
  -webkit-box-shadow: 0 4px 3px -3px grey;
  -moz-box-shadow: 0 4px 3px -3px grey;
}

