<div class="container">
  {{!-- header, bracket name, etc --}}
  <h1>Brackets</h1>

  <div>
    <table class="table">
      <thead>
        <tr>
          <th class="text-left">Name</th>
          <th class="text-left">Contenders</th>
          <th class="text-left">Manage</th>
        </tr>
      </thead>
      <tbody>
      {{#each model.brackets as |bracket|}}
        <tr>
          <td>{{#link-to 'bracket' bracket.id}}{{bracket.name}}{{/link-to}}</td>
          <td>{{bracket.numContenders}}</td>
          {{#if (eq bracket.owner userId)}}
          <td>{{delete-button icon="times" onDelete=(action 'deleteBracket' bracket) size="sm"}}</td>
          {{/if}}
        </tr>
      {{/each}}
      </tbody>
    </table>
  </div>
</div>


{{!-- {{outlet}} --}}
