// taken from Aron Duby's sweet codepen: https://codepen.io/aronduby/pen/qliuj

& {  // ampersand refers to the component itself (parent selector)
  display:flex;
  flex-direction:row;
}


/*
 *  Flex Layout Specifics
*/
.round{
  display:flex;
  flex-direction:column;
  justify-content:center;
  width:250px;
  list-style:none;
  padding:0;

  .round-header {
    text-align: center;
    /*background-color: #f4f4f4;*/
  }

  .spacer{ 
    flex-grow:1;
  }
  .spacer:first-child,
  .spacer:last-child{ 
    flex-grow:.5;
  }
  .game-spacer{
    flex-grow:1;
  }
}
.round.closed {
  background-color: #e4e4e4;
}

/*
 *  General Styles
*/
/*
body{
  font-family:sans-serif;
  font-size:small;
  padding:10px;
  line-height:1.4em;
}
*/

li.game{
  padding-left:20px;

  span{
    float:right;
    margin-right:5px;
  }
}

li.game-top{
  border-bottom:1px solid #aaa;
  cursor: pointer;
  cursor: hand;
}

li.game-spacer{ 
  border-right:1px solid #aaa;
  min-height:40px;
  cursor: pointer;
  cursor: hand;
}

li.game-bottom{ 
  border-top:1px solid #aaa;
  cursor: pointer;
  cursor: hand;
}

.winner{
  font-weight:bold;
  color: #5cb85c!important;
}
.loser {
  color: #d9534f!important;
  text-decoration: line-through;
}

