<div class="container">
  {{!-- header, bracket name, etc --}}
  <h1>Contenders</h1>

  <div>
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
      {{#each model.contenders as |contender|}}
        <tr>
          <td>{{contender.name}}</td>
          <td>{{delete-button onDelete=(action 'deleteContender' contender) size="sm"}}</td>
        </tr>
      {{/each}}
      </tbody>
    </table>
  </div>
</div>


{{!-- {{outlet}} --}}
